
@{
    ViewBag.Title = "Index";
}

<h2>EN CONSTRUCCION</h2> 


<button class="btn btn-primary" id="btnImprimir"> Imprimir</button>

<script>
    $(document).ready(function () {
        $("#btnImprimir").click(function (event) {

            window.open("../../Reports/frm_reporte.aspx?tipo=1&id=2", "_blank");

        } );

    });

</script>

